<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<style>
    .jumbotron {
        margin-bottom: 0px;
    }
</style>
<section id="section-jumbotron" class=" jumbotron-fluid d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <h1 class="display-1">Quiz Time</h1>
        <p class="display-4">Test your skills and become a master.</p>
        <p class="lead">We organize quizzes on various topics.</p>
        <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your
            interest.</p>
        <p><strong> Start Your Journey Here:</strong></p>
        <a href="/signup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus"
                aria-hidden="true"></i> Sign Up</a>

        <br><br><br>
    </div>
</section>