<!DOCTYPE html>
<html>
    <head>
        <title>Online Quiz</title>
        <link rel="stylesheet" href="/css/login.css">
        <style>
            #animate_one{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 187, 0);
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    clip-path: polygon(0 0,0% 100%,26% 100%,100% 0);
    display: block;
}
        </style>
    </head>
    <body>
        <div id="animate_one"></div>
        <div id="main">
            <div id="animateblock">
              <%- include('_animation')%>
            </div>
            <div id="login_form">
                <div class="login_box_heading">
                    <h1>
                        Sign In
                    </h1>
                </div>
                <div  class="login_box_form">
                    <form action="/signin" method="POST">
                        <label for="email">Email Id:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                        <label for="account">Account:</label>
                        <div style="display:flex; justify-content: space-evenly;"><div>
                        <input type="radio" id="teacher" name="account" value="teacher" required> Teacher</div>
                        <div >
                        <input type="radio" id="student" name="account" value="student"> Student</div>
                        </div>
                        <button>Sign In</button>
                    </form>
                </div>
                <span class="signup_box_heading">
                    <a href="/signup">Create Account</a>
                </span>
                <br>
            </div>
        </div>
    </body>
</html>